@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* yellow: #FFDE3D; pink: #DE3078; orange: #FAAF34; */

*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
img{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body{
  margin: 0;
  padding: 0;
}
::selection{
  background:	#FFDE3D;
}
.container{
  width: 100%;
  padding: 15px 0 25px 0;
  overflow: hidden;
}
.program{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main-inst{
  display: flex;
  justify-content:center;
  width: 100%;
  transition: 1s;
}
.container .main-inst .instructor{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .main-inst .program{
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-inst .program .card{
  width: 100%;
  margin: 20px;
}
.main-inst .instructor .card{
  width: calc(100% / 2 - 20px);
  background: #fff;
  border-radius: 22px;
  padding: 18px;
  margin: 8px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}
.main-inst .instructor .card:hover{
  box-shadow: 0 0 10px rgba(255, 222, 61, 0.75);
}
.instructor .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.instructor .card .content .img{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-bottom: 14px;
}
.instructor .card .content .img img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.program .card .content .title{
  color: #;
  font-size: 28px;
  font-weight: 600;
}
.instructor .card .content .name{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.instructor .card .content .job{
  font-size: 16px;
}

@media (max-width: 768px){
  .main-inst {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: -10px;
  }
  .main-inst .instructor .card{
    width: 100%;
  }
  .instructor .card .content{
    flex-direction: row;
    text-align: left;
  }
  .instructor .card .details{
    width: 100%;
  }
  .instructor .card .content .img{
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    width: 50%;
    margin-right: 18px;
  }
  .container .main-inst .program{
    width: 100%;
  }
  .main-inst .program .card{
    margin: 0px;
    background-color: #FFDE3D;
    border-radius: 16px;
    padding: 6px;
    margin: 8px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease;
  }
  .container .main-inst .instructor{
    width: 100%;
  }
