@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* yellow: #FFDE3D; pink: #DE3078; orange: #FAAF34; */

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
img{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body{
  margin: 0;
  padding: 0;
}
::selection{
  background:	#FFDE3D;
}
.container{
  width: 100%;
  padding: 15px 0 25px 0;
  overflow: hidden;
}
.carousel{
  height: 100%;
  width: 100%;
}
.carousel-testimonial{
  width: calc(100% / 2 - 30px);
  height: auto;
  background: #fff;
  border-radius: 22px;
  padding: 36px;
  margin: 12px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
  align-items: center;
  text-align: center;
}
.carousel-testimonial:hover{
  box-shadow: 0 0 8px #FFDE3D;
}
.carousel-testimonial.is-selected {
  background: #fff;
}
.flickity-viewport {
  transition: height 0.2s;
}
.flickity-page-dots .dot {
  height: 15px;
  width: 15px;
  border-radius: 30px;
  transition: all 0.5s ease;
}
.flickity-page-dots .dot.is-selected{
  width: 30px;
}
.carousel-testimonial .details{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.details .quotes{
  font-size: 17px;
  margin-bottom:16px;
}
.details .quotes b{
  font-weight: 500;
}
.details .student{
  font-size: 20px;
  color: #;
  font-weight: bold;
  margin-bottom: 6px;
}
.details .position{
  font-size: 16px;
  color: #FAAF34;
  margin-bottom: 10px;
}
.details .rating i{
  font-size: 22px;
  color: #FFDE3D;
  margin-bottom: 20px;
  margin-top: 10px;
}
.details .avatar{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 14px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}
.details .avatar img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .carousel-testimonial {
    width: calc(100% - 30px);
  }
}
